<div class="buying">
  <app-table-controls></app-table-controls>
  <p-table [value]="buyingService.items" dataKey="itemId">
    <ng-template pTemplate="header">
      <tr>
        <th
          [ngStyle]="{ width: column.width }"
          *ngFor="let column of displayedColumns"
        >
          {{ column.label }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-expanded="expanded">
      <tr
        appDataRow
        [item]="item"
        [isNested]="false"
        (openHistory)="openHistory($event)"
        [ngStyle]="{ 'border-top': expanded ? '2px solid #848484' : '' }"
      ></tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-item let-columns="columns">
      <tr
        appDataRow
        *ngFor="let nestedItem of item.nested; let i = index"
        [item]="nestedItem"
        [isNested]="true"
        (openHistory)="openHistory($event)"
        [ngClass]="
          i === item.nested.length - 1 ? 'last-expansion-row' : 'expansion-row'
        "
      ></tr>
    </ng-template>
  </p-table>
  <p-paginator
    class="paginator"
    [rows]="buyingService.pageSize"
    [first]="buyingService.currentPage * buyingService.pageSize"
    [totalRecords]="buyingService.totalItems"
    (onPageChange)="onPageChange($event)"
  >
  </p-paginator>
  <p-dialog
    header="History"
    [(visible)]="showInfoDialog"
    [style]="{ width: '900px', height: '500px' }"
    [draggable]="false"
    [resizable]="false"
    [dismissableMask]="true"
    [modal]="true"
  >
    <p-chart type="line" [data]="data" [options]="options"></p-chart>
  </p-dialog>
</div>
