.mat-toolbar
  .logo
    cursor pointer
  span
    &:first-child
      margin-left 8px
  .links
    a
      color #ffcbcb
      font-weight 300
      margin-right 32px
      &:hover
        color white
        cursor pointer
        span
          border-bottom 1px solid white
      .mat-icon
        margin-right 8px
      span
        border-bottom 1px solid #ffcbcb
