<p-toolbar>
  <div class="ui-toolbar-group-left">
    <span class="logo" (click)="onLogoClick()">ClassicAuctionUI v0.2</span>
  </div>
  <div class="ui-toolbar-group-right" fxLayoutAlign="flex-end center">
    <div *ngIf="authService.loggedIn" class="links" fxLayout="row">
      <a routerLink="/buying" fxLayoutAlign="center center">
        <i class="pi pi-shopping-cart" style="line-height: 1.25;"></i>
        <span>Buying</span>
      </a>
      <a routerLink="/upload" fxLayoutAlign="center center">
        <i class="pi pi-cloud-upload" style="line-height: 1.25;"></i>
        <span>Upload</span>
      </a>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
      <button type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event)"></button>
    </div>
  </div>
</p-toolbar>
