<mat-toolbar color="warn">
  <span class="logo" (click)="onLogoClick()">NeedMoreGold</span>
  <span class="spacer"></span>
  <span fxLayoutAlign="center center">
    <div *ngIf="authService.loggedIn" class="links" fxLayout="row">
      <a
        (click)="onLinkClick('database')"
        routerLink="/database"
        fxLayoutAlign="center center"
      >
        <mat-icon>list</mat-icon>
        <span>Database</span>
      </a>
      <a
        (click)="onLinkClick('upload')"
        routerLink="/upload"
        fxLayoutAlign="center center"
      >
        <mat-icon>cloud_upload</mat-icon>
        <span>Upload</span>
      </a>
    </div>
    <mat-menu #appMenu="matMenu">
      <button
        *ngIf="authService.loggedIn"
        (click)="onLogoutClick()"
        mat-menu-item
      >
        Logout
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </span>
</mat-toolbar>
