@import '~assets/styles/vars.styl'

.auth
  min-height calc(100vh - 64px - 64px)
  padding 0 24px
  .mat-card
    max-width 400px
    .mat-card-header
      margin 8px
    .mat-form-field
      width 100%
    button
      margin-top 8px
      width 100%