.database
  padding 24px 24px
  .table-header
    margin-bottom 16px
    .updated-at
      font-size 1.4rem
      font-weight 600
      color #545454
:host
  ::ng-deep .ui-table
    width 100%
    img
      width 30px
      height 30px
    th:first-of-type, td:first-of-type
      text-align center
      line-height 10px
    td
      font-size 12px